:root {
  --bg-main: #0F172A;
  --bg-secondary: #1E293B;
  --text-main: #E5E7EB;
  --text-secondary: #94A3B8;
  --accent: #38BDF8;
  --accent-hover: #0EA5E9;
  --border-soft: #334155;
}
html {
	font-family: "Roboto Flex", sans-serif;
}
body {
	max-width: 85vw;
	text-align: center;
	margin: auto;
}
a {
	text-decoration: underline;
	color: #ffffff;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size:2.25em;
}
h3 {
	font-size:1.75em;
}
h4 {
	font-size:1.25em;
}
h5 {
	font-size:1m;
}
h6 {
	font-size:0.8em;
}
h1, h2, h3, h4, h5{
	text-decoration: underline;
	align-self: center;
	text-justify: center;
}
.separator {
	min-height: 5vh;
}
#projects {
	max-width: 75vw;
	margin: auto;
}
#projects img {
	max-width:65%;
	height: auto;
	align-self: center;
}
#projects-links {
	margin: auto;
	max-width: 65vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
#scraper, #webpage-generator{
	box-shadow: 1px 1px 5px #555 inset;
	border-radius: 25px;
	margin: 5% 0 0;
	padding: 5px 5%;
	justify-content: left;
	text-align: left;
}
#projects summary::marker { content: ""; }
#scraper-installers {
	margin: auto;
	max-width: 65vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#scraper-installers > a {
	width: fit-content;
	margin: 2vh 2vw;
	padding: 2vh 2vw;
	background-color: #0C2B4E;
	box-shadow: 4px 4px 4px 4px black;
	border-radius: 15px;
	margin: 2vh auto;
}
#scraper-installers > a:hover {
	background-color: #1A3D64;
	box-shadow: 4px 4px 8px 8px black;
}
.main {
	background-color: var(--bg-main);
	color: var(--text-main);
}
.primary {
	background-color: var(--bg-secondary);
	color: var(--text-secondary);
}
.secondary {
	background-color: #1A3D64;
	color: #fff;
}
.tertiary {
	background-color: #1D546C;
	color: #fff;
}
